/* Home.css */
.container {
  padding: 20px;
}

.welcome-message {
  font-size: 2rem;
  font-weight: bold;
}

.system-status {
  font-size: 1.2rem;
  color: gray;
}

.current-date {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-custom-height {
  height: 150px;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.6); /* Adding box shadow */
}

.card-custom-height1 {
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding box shadow */
}

.back {
  background-color: #333; /* Adjust this as per your design */
}

.back1 {
  background-color: #70ccd4 !important;
}

.back2 {
  background-color: #8987e0 !important;
}

.back3 {
  background-color: #d38285 !important;
}

.back4 {
  background-color: #69b090 !important;
}

@media (max-width: 768px) {
  .welcome-message {
    font-size: 1.5rem;
  }

  .system-status {
    font-size: 1rem;
  }

  .current-date {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .welcome-message {
    font-size: 1.2rem;
  }

  .system-status {
    font-size: 0.9rem;
  }

  .current-date {
    font-size: 1rem;
    text-align: left;
  }
}

.table-responsive {
  max-height: 350px;
  overflow-y: auto;
}
.btn-style {
  background: linear-gradient(-279deg, #70ccd4, #7978e9) !important;
}

.custom-table {
  border-radius: 10px;
  overflow: hidden;
}

.custom-table thead th {
  background-color: rgb(59, 56, 56);
  color: #fff;
}

.custom-table th,
.custom-table td {
  vertical-align: middle;
  text-align: center;
}

.card1{
  transition: all 500ms ease-in-out !important;
  border: 1px solid rgb(77, 77, 77) !important;
}
.card1:hover {
  margin-top: 10px !important;
  /* cursor: pointer; */
  box-shadow: 0px 10px 10px 0px rgb(74, 73, 73) !important;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) !important;
}