.custom-table {
  border-radius: 10px;
  overflow: hidden;
}

.custom-table thead th {
  background-color: rgb(59, 56, 56);
  color: #fff;
}

.custom-table th,
.custom-table td {
  vertical-align: middle;
  text-align: center;
}

.search-filter-row {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between filters as needed */
}

.search-bar-container,
.select-container,
.input-container {
  position: relative;
  flex-grow: 1;
}

.search-bar-container input,
.select-container select,
.input-container input {
  width: 100%;
  padding-right: 30px; 
  outline: none;
  box-shadow: none;
  border-radius: 20px;
}

.cancel-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.cancel-icon:hover {
  color: #000;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-group label {
  font-weight: bold;
}
.schoolheading{
  font-family: Georgia serif;
  color:rgb(12, 12, 12);
  background-color: rgb(160, 216, 200);
  padding: 3px 40px 3px 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: bold;
  font-size: 35px;
}

.search:hover{
  cursor: pointer;
}