.custom-table {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .custom-table thead th {
    background-color: rgb(59, 56, 56);
    color: #fff;
  }
  
  .custom-table th, .custom-table td {
    vertical-align: middle;
    text-align: center;
  }